<footer class="bg-dark text-center text-white">
  <!-- Grid container -->
  <div class="container p-4 pb-0">
    <!-- Section: Social media -->
    <section class="mb-4">
      <!-- Facebook -->
      <a class="btn btn-outline-light btn-floating m-1" href="https://www.facebook.com/profile.php?id=100020954476710"
        role="button" onmouseover="this.style.color='red'" onmouseout="this.style.color='white'"><i
          class="fab fa-facebook-f"></i></a>

      <!-- Instagram -->
      <a class="btn btn-outline-light btn-floating m-1" href="https://www.instagram.com/yuliannnnnnnnnn/" role="button"
        onmouseover="this.style.color='red'" onmouseout="this.style.color='white'"><i class="fab fa-instagram"></i></a>

      <!-- Github -->
      <a class="btn btn-outline-light btn-floating m-1" href="https://github.com/yulianrudenko" role="button"
        onmouseover="this.style.color='red'" onmouseout="this.style.color='white'"><i class="fab fa-github"></i></a>
    </section>
    <!-- Section: Social media -->
  </div>
  <!-- Grid container -->

  <!-- Copyright -->
  <div class="text-center p-3" style="margin-bottom: 0px;background-color: rgba(0, 0, 0, 0.2);">
    © 2022 Copyright: Yulian Rudenko
  </div>
  <!-- Copyright -->

  <div class="text-center pb-3 text-decoration-underline" style="margin-bottom: 0px;background-color: rgba(0, 0, 0, 0.2);">
    <a href="{% url 'api:product_list' %}">API</a>
  </div>
</footer>