{% extends 'base.html' %}
{% load static %}


{% block content %}
  <style>
    a {
      cursor: pointer;
    }
  </style>
  <section class="h-100 h-custom bg-dark">
    <div class="container py-3 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12">
          <div class="card card-registration card-registration-2" style="border-radius: 15px;">
            <div class="card-body p-0">
              <div class="row g-0">
                <div class="col-lg-8">
                  <div class="p-5">
                    <div class="d-flex justify-content-between align-items-center mb-5">
                      <h1 class="fw-bold mb-0 text-black">Shopping Cart</h1>
                    </div>

                    {% for product in cart %}
                    <div id="product-div" data-product_id="{{ product.id }}">
                      <hr class="my-4">
                      <div class="row mb-4 d-flex justify-content-between align-items-center">
                        <div class="col-md-2 col-lg-2 col-xl-2">
                          <a href="{% url 'products:detail' product.id %}">
                            <img
                              src="{{ product.image.url }}"
                              class="img-fluid rounded-3" alt="Cotton T-shirt">
                          </a>
                        </div>
                        <div class="col-md-3 col-lg-3 col-xl-3">
                          <h6 class="h5">
                            <a href="{% url 'products:detail' product.id %}" class="text-black">{{ product.title }}</a>
                          </h6>
                          <h6 class="text-muted mb-0">{{ product.category }}</h6>
                        </div>
                        <div class="col-md-3 col-lg-3 col-xl-2 d-flex">
                        </div>
                        <div class="col-md-3 col-lg-2 col-xl-2 offset-lg-1">
                          {% if product.discount_price %}
                          <h6 class="mb-0 h5">{{ product.discount_price }} zł</h6>
                          {% else %}
                          <h6 class="mb-0 h5">{{ product.price }} zł</h6>
                          {% endif %}
                        </div>
                        <div class="col-md-1 col-lg-1 col-xl-1 text-end">
                          <a class="remove-from-cart text-muted" data-product_id="{{ product.id }}">
                            <i class="fas fa-times"></i>
                          </a>
                        </div>
                      </div>
                      <hr class="my-4">
                    </div>
                    {% empty %}
                    <hr class="my-4">
                    <div class="row mb-4 d-flex justify-content-between align-items-center">
                      <div class="col-12 h3">Cart is Empty</div>
                    </div>
                    <hr class="my-4">
                    {% endfor%}

                    <div class="pt-5">
                      <h6 class="mb-0"><a href="{% url 'products:home' %}" class="text-body"><i
                            class="fas fa-long-arrow-alt-left me-2"></i>Back to shop</a></h6>
                    </div>
                  </div>
                </div>
                <div class="col-lg-4 bg-grey">
                  <div class="p-5">
                    <h3 class="fw-bold mb-5 mt-2 pt-1">Summary</h3>
                    <hr class="my-4">
  
                    <div class="d-flex justify-content-between mb-4">
                      <h5 class="text-uppercase">products: </h5>
                      <h5 id="cart-summary-qty" class="text-uppercase">{{ cart|length }}</h5>
                    </div>
                    
                    {% if cart %}

                    <h5 class="text-uppercase mb-3">
                      Shipping
                      {% if cart.get_shipping_price %}
                      - <span class="text-muted" id="shipping-price">{{ cart.get_shipping_price }}</span> zł
                      {% else %}
                      - <span class="text-muted" id="shipping-price">0</span> zł
                      {% endif %}
                    </h5>
  
                    <div class="mb-4 pb-2">
                      {{ shipping_form.shipping_type }}
                    </div>
  
                    <h5 class="text-uppercase mb-3">
                      Coupon code
                      {% if cart.code_is_activated %}
                      <span class="ms-1 text-success"> - reduces {{ cart.coupon_code.reduce_amount }} zł</span>
                      {% endif %}
                    </h5>
  
                    <div class="mb-5">
                      {% if cart.code_is_activated %}
                        <a href="{% url 'cart:remove_coupon_code' %}" class="btn btn-danger">Remove {{ cart.coupon_code.code }}</a>
                      {% else %}
                      <form action="" method="POST">
                      {% csrf_token %}
                      {% if code_error %}
                      <li class="alert alert-danger mb-2 py-2" role="alert" style="list-style: none;">
                        This code doesn't exist.
                      </li>
                      {% endif %}
                      <div class="form-outline">
                          <input type="text" name="coupon_code" class="form-control form-control-lg" />
                          <label class="form-label">Enter your code</label>
                        </div>
                        <input type="submit" class="btn btn-secondary mt-1" value="Activate Code">
                      </form>
                      {% endif %}
                    </div>

                    <hr class="my-4">
  
                    <div class="d-flex justify-content-between mb-2">
                      <h5 class="text-uppercase">Total price</h5>
                      <h5><span id="cart-total-price">{{ cart.get_total_price }}</span> zł</h5>
                    </div>
  
                    <a href="{% url 'orders:checkout' %}" type="button" class="btn btn-primary btn-lg btn-block">
                      Go to checkout
                    </a>
                    <button type="button" id="clear-cart" class="btn btn-danger btn-block btn-lg"
                      data-mdb-ripple-color="dark">Clear Cart</button>
                    {% endif %}
  
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}


{% block javascript %}
<script>
  $(document).on("click", "#clear-cart", function (e) {
    e.preventDefault();
    $.ajax({
      type: "POST",
      url: "{% url 'cart:clear' %}",
      data: {
        csrfmiddlewaretoken: "{{ csrf_token }}",
        action: "clear_cart"
      },
      success: function (json) {
        // document.getElementById("cart-qty").innerHTML = json.qty
        location.reload()
      },
      error: function (xhr, errmsg, err) {}
    });
  })

  $(document).on("click", ".remove-from-cart", function (e) {
    e.preventDefault();
    let product_id = $(this).data("product_id");
    $.ajax({
      type: "POST",
      url: "{% url 'cart:remove' %}",
      data: {
        product_id: product_id,
        csrfmiddlewaretoken: "{{ csrf_token }}",
        action: "remove_from_cart"
      },
      success: function (json) {
        document.getElementById("cart-qty").innerHTML = json.qty
        document.getElementById("cart-summary-qty").innerHTML = json.qty
        document.getElementById("cart-total-price").innerHTML = json.new_total_price
        $(`#product-div[data-product_id="${product_id}"]`).remove()
      },
      error: function (xhr, errmsg, err) {}
    });
  });

  document.getElementById("shipping-type").onchange = shippingTypeListenter;
  function shippingTypeListenter() {
    var shippingId = this.value
    if (!shippingId) {
      shippingId = 0
    }
    $.ajax({
      type: "POST",
      url: "{% url 'cart:select_shipping' %}",
      data: {
        shipping_id: shippingId,
        csrfmiddlewaretoken: "{{ csrf_token }}",
        action: "select_shipping"
      },
      success: function (json) {
        document.getElementById("cart-total-price").innerHTML = json.new_total_price
        document.getElementById("shipping-price").innerHTML = json.shipping_price
      },
      error: function (xhr, errmsg, err) {}
    });
  }
</script>
{% endblock %}