{% extends 'base.html' %}
{% load my_tags %}
{% load static %}

{% block content %}
  <section class="bg-dark">
    <div class="container py-3">
      <div class="row bg-light d-flex justify-content-between p-2 pb-5">

        <div class="col-lg-6">
          <h3 class="text-center pt-2">Total Sold: {{ request.user.sold_total }} zł</h3>
          <hr class="p-1 text-dark">
          {% for product in sold_products %}
          <div class="w-75 mx-auto">
            <div class="card">
              <div class="card-block">
                <img src="{{ product.get_image }}" class="card-img-top" style="max-height: 340px; object-fit: cover;" alt="product">
                <div class="p-2">
                  <h4 class="card-title py-1">"{{ product.title|title }}" 
                    to
                    <a href="{{ product.purchased_by.get_absolute_url }}" class="text-info">{{product.purchased_by.fullname }}</a>
                  </h4>
                  <h6 class="card-subtitle text-muted py-1">Category: {{ product.category }}</h6>
                  {% if product.description %}
                    <p class="card-text">{{ product.description|truncatechars:45 }}</p>
                  {% else %}
                    <p class="card-text">&nbsp;</p>
                  {% endif %}
                  <div class="text-end px-2">
                    <span class="mb-1 me-1 h5">{{ product.current_price }} zł</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          {% empty %}
            <div class="w-100 pt-4">
              <h4 class="text-center">
                You haven't sold anything so far.
              </h4>
            </div>
          {% endfor %}
        </div>

        <div class="col-lg-6">
          <h3 class="text-center pt-2">Total Purchased: {{ request.user.purchased_total }} zł</h3>
          <hr class="p-1 text-dark">
          {% for product in purchased_products %}
          <div class="w-75 mx-auto">
            <div class="card">
              <div class="card-block">
                <img src="{{ product.get_image }}" class="card-img-top" style="max-height: 340px; object-fit: cover;" alt="product">
                <div class="p-2">
                  <h4 class="card-title py-1">"{{ product.title|title }}" 
                    from
                    <a href="{{ product.user.get_absolute_url }}" class="text-info">{{product.user.fullname }}</a>
                  </h4>
                  <h6 class="card-subtitle text-muted py-1">Category: {{ product.category }}</h6>
                  {% if product.description %}
                    <p class="card-text">{{ product.description|truncatechars:45 }}</p>
                  {% else %}
                    <p class="card-text">&nbsp;</p>
                  {% endif %}
                  <div class="text-end px-2">
                    <span class="mb-1 me-1 h5">{{ product.current_price }} zł</span>
                  </div>
                </div>
              </div>
            </div>
          </div>
          {% empty %}
            <div class="w-100 pt-4">
              <h4 class="text-center">
                You haven't purchased anything so far.
              </h4>
            </div>
          {% endfor %}
        </div>

      </div>
      </div>
    </div>
  </section>
{% endblock %}
