{% extends 'base.html' %}
{% load my_tags %}
{% load static %}

{% block content %}
  <style>
    ul, li {
        list-style: none;
    }
  </style>

  <section class="bg-dark">
    <div class="container py-3">

      <div class="d-flex justify-content-center mb-3">
        <div class="py-2 w-50 text-center bg-light border rounded-3">
          <h1 class="">{{ category.name|title }}</h1>
        </div>
      </div>

      <div class="row justify-content-center mb-3 gap-3">
        
        {% for product in category.products.all %}
          {% include 'products/product_card.html' %}
        {% endfor %}

      </div>
    </div>
  </section>
{% endblock %}