{% load my_tags %}
{% load static %}
{% load i18n %}

<style>
  .btn {
    font-size: 0.9rem;
  }
</style>

<div class="col-md-12 col-xl-10">
  <div class="card shadow-0 border rounded-3">
    <div class="card-body">
      <div class="row">
        <div class="col-md-12 col-lg-3 col-xl-3 mb-4 mb-lg-0 text-center">
          <div class="bg-image hover-zoom ripple rounded ripple-surface">
            <img src="{{ product.get_image }}" style="height: 220px; object-fit: cover;" class="w-100" />
            <a href="{{ product.get_absolute_url }}">
              <div class="hover-overlay">
                <div class="mask" style="background-color: rgba(253, 253, 253, 0.15);"></div>
              </div>
            </a>
          </div>
        </div>
        <div class="col-md-6 col-lg-6 col-xl-6">
          <div class="d-flex justify-content-between pb-1 mb-2" style="border-bottom: 2px solid lightgray">
            <div class="">
              <h3>
                <a href="{{ product.get_absolute_url }}" class="text-dark">{{ product.title|truncatechars:20|title }}</a>
              </h3>
              <h6>
                <form action="{% url 'search:main' %}" method="get">
                  <input type="hidden" name="location" value="{{ product.user.location.id }}">
                  <input type="submit" value="{{ product.user.location }}" class="btn btn-outline-primary text-dark">
                </form>
              </h6>
              <div class="h5 btn btn-info text-light">
                <a href="{{ product.category.get_absolute_url }}">{% trans 'Category' %}: {{ product.category }}</a>
              </div>
            </div>
            <a href="{{ product.user.get_absolute_url }}">
              <div class="author text-end">
                <img src="{{ product.user.get_image }}" alt="" style="object-fit: cover; width: 65px; height: 65px"
                  class="rounded-circle" />
                <div class="author-name mt-1 d-flex justify-content-center text-end" style="font-size: 0.9rem;">
                  <span href="{{ product.user.get_absolute_url }}"
                    class="fw-bold h6">{{ product.user.fullname }}</span>
                </div>
              </div>
            </a>
          </div>
          {% if product.tags.all %}
          <div class="mb-0 text-muted btn btn-dark">
            <div class="h6 text-light">{% trans 'Tags' %}:
              {% for tag in product.tags.all %}
                {% if forloop.counter != 1 %}
                <span class="text-primary text-light"> • </span>
                {% endif %}
                <span class="text-light" style="font-size: 0.75rem;">{{ tag }}</span>
              {% endfor %}
            </div>
          </div>
          {% endif %}

          <p class="mt-2 mb-md-0">
            {% if product.description %}
            <span class="text-muted text-decoration-underline">{% trans 'Description' %}:</span>
            {{ product.description|truncatechars:80 }}
            {% endif %}
          </p>
        </div>
        <div
          class="col-md-6 col-lg-3 col-xl-3 border-sm-start-none border-start d-flex flex-column justify-content-between">
          <div class="d-flex flex-row align-items-center justify-content-center mb-1 h-100">
            {% if product.discount_price %}
            <span class="mb-1 me-1 h4">{{ product.discount_price }} zł</sp>
              <span class="text-danger h5"><s>{{ product.price }} zł</s></span>
              {% else %}
              <h4 class="mb-1 me-1 h4">{{ product.price }} zł</h4>
              {% endif %}
          </div>

          <div class="d-flex flex-column gap-1">
            <a href="{% url 'products:detail' product.id %}" class="btn btn-primary btn-sm py-3"
              type="button">{% trans 'Details' %}</a>
            {% if request.user == product.user %}
            <a href="{% url 'products:edit' product.id %}" class="btn btn-warning btn-sm py-3" type="button">{% trans 'Edit' %}</a>
            <a href="{% url 'products:remove' product.id %}" class="btn btn-danger btn-sm py-3" type="button">
              {% trans 'Remove from Site' %}
            </a>
            {% else %}
            {% if product in request.user.wishlist.all %}
            <a href="{% url 'users:remove_from_wishlist' product.id %}" class="btn btn-danger btn-sm py-2"
              type="button">
              {% trans 'Remove from Wishlist' %}
            </a>
            {% else %}
            <a href="{% url 'users:add_to_wishlist' product.id %}" class="btn btn-secondary btn-sm py-3" type="button">
              {% trans 'Add to wishlist' %}
            </a>
            {% endif %}
            <a href="{% url 'chats:detail' product.id %}" class="btn btn-success btn-sm py-3 fw-bold" type="button">
              {% trans 'Buy / Negotiate' %}
            </a>
            {% endif %}

          </div>
        </div>
      </div>
    </div>
  </div>
</div>