<nav class="navbar navbar-expand-lg navbar-dark fixed-top bg-dark text-light h6 m-0 px-1">
  <!-- Container wrapper -->
  <div class="container-fluid">
    <!-- Toggle button -->
    <button class="navbar-toggler" type="button" data-mdb-toggle="collapse" data-mdb-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <i class="fas fa-bars"></i>
    </button>

    <!-- Collapsible wrapper -->
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <!-- Navbar brand -->
      <a class="navbar-brand mt-2 mt-lg-0" href="{% url 'home' %}">
        <font class="h3 p-0 m-0">SELLor <i class="fa-solid fa-anchor"></i></font>
      </a>
      </a>
      <!-- Left links -->
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" href="{% url 'home' %}">All Products</a>
        </li>
        <!-- Navbar dropdown -->
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-mdb-toggle="dropdown"
            aria-expanded="false">
            Categories
          </a>
          <!-- Dropdown menu -->
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            {% for category in categories %}
            <li>
              {% if category.get_children %}
              <a class="dropdown-item ps-1" href="{{ category.get_absolute_url }}"
                aria-labelledby="navbarDropdown">{{ category.name|title }}</a>
              {% for subcategory in category.get_children %}
              {% if subcategory.get_children %}
              <a class="dropdown-item ps-3" href="{{ subcategory.get_absolute_url }}"
                aria-labelledby="navbarDropdown">{{ subcategory.name|title }}</a>
              {% for subcategory2 in subcategory.get_children %}
              <a class="dropdown-item ps-5" href="{{ subcategory2.get_absolute_url }}"
                aria-labelledby="navbarDropdown">{{ subcategory2.name|title }}</a>
              {% endfor %}
              {% else %}
              <a class="dropdown-item ps-3" href="{{ subcategory.get_absolute_url }}"
                aria-labelledby="navbarDropdown">{{ subcategory.name|title }}</a>
              {% endif %}
              {% endfor %}
              {% else %}
              <a class="dropdown-item ps-1" href="{{ category.get_absolute_url }}">{{ category.name|title }}</a>
              {% endif %}
            </li>
            {% endfor %}
          </ul>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#"><del>My Dashboard</del> coming soon</a>
        </li>
      </ul>
      <!-- Left links -->
    </div>
    <!-- Collapsible wrapper -->

    <!-- Right elements -->
    <div class="d-flex align-items-center h4 m-0 p-0 gap-1">

      <!-- CART -->
      <a class="text-reset me-3" href="{% url 'users:cart' %}" title="Card">
        <i class="fas fa-shopping-cart"></i>
        <span id="cart-qty" class="badge rounded-pill badge-notification bg-danger">
          {{ cart.items_qty }}
        </span>
      </a>

      <!-- Notifications -->
      <div class="dropdown" title="Notifications">
        <a class="text-reset me-3 dropdown-toggle hidden-arrow" href="#" id="navbarDropdownMenuLink" role="button"
          data-mdb-toggle="dropdown" aria-expanded="false">
          <i class="fas fa-bell"></i>
          <span class="badge rounded-pill badge-notification bg-danger">
            0
          </span>
        </a>
        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownMenuLink">
          <li>
            <a class="dropdown-item" href="#">Some news</a>
          </li>
          <li>
            <a class="dropdown-item" href="#">Another news</a>
          </li>
        </ul>
      </div>

      <!-- WISHLIST -->
      <a class="text-reset me-3" href="{% url 'users:wishlist' %}" title="Wishlist">
        <i class="fa-solid fa-bookmark"></i>
      </a>

      <!-- Profile -->
      <div class="dropdown" title="Profile">
        <a class="dropdown-toggle d-flex align-items-center hidden-arrow text-reset" href="#"
          id="navbarDropdownMenuAvatar" role="button" data-mdb-toggle="dropdown" aria-expanded="false">
          <i class="fa-solid fa-user"></i>
        </a>
        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdownMenuAvatar">
          {% if request.user.is_authenticated %}
          <li class="bg-dark text-light text-center h6 mb-0 py-2 dropdown-item">Hi, {{ request.user.first_name }}</li>
          <li>
            <a class="dropdown-item" href="{% url 'users:profile' request.user.id %}">My profile</a>
          </li>
          <li>
            <a class="dropdown-item" href="{% url 'users:edit_profile' %}">Edit profile</a>
          </li>
          <li>
            <a class="dropdown-item" href="{% url 'users:logout' %}">Logout</a>
          </li>
          {% else %}
          <li>
            <a class="dropdown-item" href="{% url 'users:login' %}">Login</a>
          </li>
          <li>
            <a class="dropdown-item" href="{% url 'users:register' %}">Register</a>
          </li>
          {% endif %}
        </ul>
      </div>
    </div>
    <!-- Right elements -->
  </div>
  <!-- Container wrapper -->
</nav>