{% extends 'base.html' %}
{% load static %}

{% block content %}
  <section class="h-100 h-custom bg-dark">
    <div class="container py-3 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-12">
          <div class="card card-registration card-registration-2" style="border-radius: 15px;">
            <div class="card-body p-0">
              <div class="row g-0">
                <div class="col-lg-8">
                  <div class="p-5">
                    <div class="d-flex justify-content-between align-items-center mb-5">
                      <h1 class="fw-bold mb-0 text-black">Shopping Cart</h1>
                      <h6 class="mb-0 text-muted h2">{{ cart|length }}</h6>
                    </div>

                    {% for product in cart %}
                    <hr class="my-4">
                    <div class="row mb-4 d-flex justify-content-between align-items-center">
                      <div class="col-md-2 col-lg-2 col-xl-2">
                        <img
                          src="{{ product.image.url }}"
                          class="img-fluid rounded-3" alt="Cotton T-shirt">
                      </div>
                      <div class="col-md-3 col-lg-3 col-xl-3">
                        <h6 class="text-black h5">{{ product.title }}</h6>
                        <h6 class="text-muted mb-0">{{ product.category }}</h6>
                      </div>
                      <div class="col-md-3 col-lg-3 col-xl-2 d-flex">
                        <!-- <button class="btn btn-link px-2"
                          onclick="this.parentNode.querySelector('input[type=number]').stepDown()">
                          <i class="fas fa-minus"></i>
                        </button>
  
                        <input id="form1" min="0" name="quantity" value="1" type="number"
                          class="form-control form-control-sm" />
  
                        <button class="btn btn-link px-2"
                          onclick="this.parentNode.querySelector('input[type=number]').stepUp()">
                          <i class="fas fa-plus"></i>
                        </button> -->
                      </div>
                      <div class="col-md-3 col-lg-2 col-xl-2 offset-lg-1">
                        {% if product.discount_price %}
                        <h6 class="mb-0 h5">{{ product.discount_price }} zł</h6>
                        {% else %}
                        <h6 class="mb-0 h5">{{ product.price }} zł</h6>
                        {% endif %}
                      </div>
                      <div class="col-md-1 col-lg-1 col-xl-1 text-end">
                        <a href="#!" class="text-muted"><i class="fas fa-times"></i></a>
                      </div>
                    </div>
                    <hr class="my-4">
                    {% empty %}
                    <hr class="my-4">
                    <div class="row mb-4 d-flex justify-content-between align-items-center">
                      <div class="col-12 h3">Cart is Empty</div>
                    </div>
                    <hr class="my-4">
                    {% endfor%}

                    <div class="pt-5">
                      <h6 class="mb-0"><a href="{% url 'products:home' %}" class="text-body"><i
                            class="fas fa-long-arrow-alt-left me-2"></i>Back to shop</a></h6>
                    </div>
                  </div>
                </div>
                <div class="col-lg-4 bg-grey">
                  <div class="p-5">
                    <h3 class="fw-bold mb-5 mt-2 pt-1">Summary</h3>
                    <hr class="my-4">
  
                    <div class="d-flex justify-content-between mb-4">
                      <h5 class="text-uppercase">items 3</h5>
                      <h5>€ 132.00</h5>
                    </div>
  
                    <h5 class="text-uppercase mb-3">Shipping</h5>
  
                    <div class="mb-4 pb-2">
                      <select class="select form-select">
                        <option value="1">Standard-Delivery- €5.00</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option>
                        <option value="4">Four</option>
                      </select>
                    </div>
  
                    <h5 class="text-uppercase mb-3">Give code</h5>
  
                    <div class="mb-5">
                      <div class="form-outline">
                        <input type="text" id="form3Examplea2" class="form-control form-control-lg" />
                        <label class="form-label" for="form3Examplea2">Enter your code</label>
                      </div>
                    </div>
  
                    <hr class="my-4">
  
                    <div class="d-flex justify-content-between mb-5">
                      <h5 class="text-uppercase">Total price</h5>
                      <h5>€ 137.00</h5>
                    </div>
  
                    {% if cart %}
                    <button type="button" class="btn btn-primary btn-lg btn-block">
                      Go to checkout
                    </button>
                    <button type="button" id="clear-cart" class="btn btn-danger btn-block btn-lg"
                      data-mdb-ripple-color="dark">Clear Cart</button>
                    {% endif %}
  
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}


{% block javascript %}
<script>
  $(document).on('click', '#clear-cart', function (e) {
    e.preventDefault();
    $.ajax({
      type: "POST",
      url: "{% url 'cart:clear' %}",
      data: {
        csrfmiddlewaretoken: "{{ csrf_token }}",
        action: "clear_cart"
      },
      success: function (json) {
        document.getElementById('cart-qty').innerHTML = json.qty
        location.reload()
      },
      error: function (xhr, errmsg, err) {}
    });
  })
</script>
{% endblock %}